$dark-color: #20232a;
$primary-color: #61dafb;

$link-background-color: rgba(187, 239, 253, 0.3);
$link-hover-background-color: rgba(187, 239, 253, 1);
$link-color: #1a1a1a;
$link-border-bottom: 1px solid rgba(0, 0, 0, 0.2);
$link-hover-border-bottom: 1px solid rgba(0, 0, 0, 0.8);



html {
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $dark-color; 
  color: white;
  left: 0;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  a.logo {
    flex: 1;
    display: flex;
    color: $primary-color;
    text-decoration: none;

    img {
      height: 20px;
      flex: 1;
    }

    .author {
      font-weight: 700;
      flex: 2;
    }
  }

  nav {
    flex: 7;
    display: flex;
    background-color: transparent; 
    text-align: center;

    a.nav-link {
      flex: 1;
      text-decoration: none;
    }

    a.nav-link:link {
      color: #ccc;
    }

    a.nav-link:visited {
      color: #ccc;
    }

    a.nav-link:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.2);
    }

    a.nav-link:hover {
      background-color: #eb5151;
    }

    a.nav-link:active {

    }

  }

}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  article.post-block {
    flex: 2;
    width: 60%;
    max-width: 900px;

    .post-info {
      font-weight: 200;
      font-size: 1rem;
      color: #858585;
    }

    h1 {
      background-color: #333; 
      color: white;  
      font-weight: 700; 
      font-size: 2rem;  
      margin: .5rem 0;
      text-indent: 1rem;
    }

    h2 {
      background-color: #333; 
      color: white; 
      text-indent: 2rem; 
      font-weight: 500; 
      font-size: 1.6rem; 
      padding-right: .3em; 
      margin: .3rem 10rem .3rem .3rem;
    }

    h3 {
      background-color: #333; 
      color: white; 
      text-indent: 2rem; 
      font-weight: 300; 
      font-size: 1.3rem; 
      padding-right: .3em; 
      margin: .1rem 10rem .1rem .5rem; 
    }

    h4, h5, h6 {
      background-color: #333; 
      color: white; 
      text-indent: 2rem; 
      font-weight: 200; 
      font-size: 1.1rem; 
      padding-right: .3em; 
      margin: .1rem 10rem .1rem .7rem;
    }

    a {
      background-color: rgba(187, 239, 253, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      color: #1a1a1a;
      text-decoration: none;
    }

    a:hover {
      background-color: rgba(187, 239, 253, 1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }

    blockquote {
      font-weight: 300;
      font-size: 1.125rem;
      color: #858585;
      line-height: 2;
    }
  }

  aside.toc {
    flex: 1;
    // position: fixed;
    // top: 50px;
    // right: 0;
    // overflow: auto;
    background-color: #f7f7f7;
    color: #1a1a1a;
    list-style-type: none;
    
    li {
      
      a {
        text-decoration: none;
      }
    }
    
    ol {
      margin: 0;
    }
  }
}

.post-list {
  width: 60%;
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
  
  .post-list-item {
    list-style-type: none;
    
    .post-list-item-title {
      a {
        text-decoration: none;
        color: $link-color;
        background-color: $link-background-color;
        border-bottom: $link-border-bottom;
      }
      
      a:hover {
        background-color: $link-hover-background-color;
        border-bottom: $link-hover-border-bottom;
      }
    }

    .post-list-item-date {
      font-weight: 300;
      font-size: .8rem;
      color: #858585;
    }
  }
}

.archive {
  width: 60%;
  max-width: 700px;
  margin: 0 auto;

  .archive-year {

  }

  .post-item {
    display: flex;
    justify-content: center;
    align-items: center;

    .post-info {
      flex: 1;
      font-weight: 300;
      font-size: .8rem;
      color: #858585;
      line-height: 2;
    }

    a.post-title-link {
      flex: 2;
      text-decoration: none;
      background-color: rgba(187, 239, 253, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      color: #1a1a1a;
      text-decoration: none;
      margin: 5px;
      padding: 5px;
      font-weight: 700;
      font-size: 1.2rem;
    }

    a.post-title-link:hover {
      background-color: rgba(187, 239, 253, 1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;

  .paginator {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    
    a {
      padding: 10px;
      text-decoration: none;
      color: $link-color;
      border-bottom: $link-border-bottom;
      background-color: rgba(187, 239, 253, 0.3);
    }
    
    a.prev {
      margin-right: 20px;
    }
    
    a.next {
      margin-left: 20px;
    }
    
    a:hover {
      background-color: $link-hover-background-color;
      border-bottom: $link-hover-border-bottom;
    }

  }

  .copyright {
    background-color: $dark-color;
    color: white;
    padding: 10px 0;
  }
}
