$dark-color: #20232a;
$primary-color: #61dafb;
$color-background: #FFFFFF;
$color-yellow: #FCDF15;
$color-red: #D40E52;
$color-blue: #0B99BC;
$color-black: #3C3C3C;

$link-background-color: rgba(187, 239, 253, 0.3);
$link-hover-background-color: rgba(187, 239, 253, 1);
$link-color: #1a1a1a;
$link-border-bottom: 1px solid rgba(0, 0, 0, 0.2);
$link-hover-border-bottom: 1px solid rgba(0, 0, 0, 0.8);

@import "_partial/home";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/footer";
@import "_partial/header";

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: $color-background;
}
