//- archive page
mixin postList() 
	.archive
		- var year = 0;
		- var change = false;
		- page.posts.each(function (post) {
				- var postYear = date(post.date, 'YYYY') - 0;
				- change = year !== postYear;
				- year = change ? postYear : year;
				if change
					h2.archive-year!= year
				.post-item
					a.post-title-link(href= url_for(post.path))
						!= post.title
					include post
					+postInfo(post)
		- })

mixin tagsList()
	.archive
		.archive-year!= page.tag
		- page.posts.each(function (post) {
				.post-item
					a.post-title-link(href= url_for(post.path))
						!= post.title
					include post
					+postInfo(post)
		- })

mixin categoriesList()
	.archive
		.archive-year!= page.category
		- page.posts.each(function (post) {
				.post-item
					a.post-title-link(href= url_for(post.path))
						!= post.title
					include post
					+postInfo(post)
		- })