html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #FFFFFF;
}

header {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #3C3C3C;
  color: white;
  left: 0;
  top: 0;
  z-index: 1;
}

code {
  background-color: #FEDCD2;
  color: #DF744A;
  padding: 0 5px;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.4rem;
}

a {
  color: #3C3C3C;
  text-decoration: none;
  border-bottom: 1px solid #D40E52;
}

a:focus {
  font-weight: 600;
}

a:hover {
  font-weight: 600;
  border-bottom: 2px solid #D40E52;
}

em {
  text-shadow: 0.1rem 0.1rem 0.1rem #3C3C3C;
}

strong {
  color: #D40E52;
}

.navbar {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar a.logo {
  flex: 1;
  display: flex;
  color: #61dafb;
  text-decoration: none;
  border: 0;
}
.navbar a.logo img {
  height: 2.2rem;
  flex: 1;
}
.navbar a.logo .author {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  flex: 3;
}
.navbar nav {
  flex: 7;
  display: flex;
  height: 100%;
  background-color: transparent;
}
.navbar nav a.nav-link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border: 0;
}
.navbar nav a.nav-link:link {
  color: white;
}
.navbar nav a.nav-link:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar nav a.nav-link:hover {
  color: #61dafb;
  border-bottom: 3px solid #61dafb;
}
.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.content article.post-block {
  flex: 2;
  width: 60%;
  max-width: 900px;
  margin: 0 2rem;
  overflow: auto;
}
.content article.post-block .post-info {
  font-weight: 200;
  font-size: 1rem;
  color: #858585;
}
.content article.post-block figure {
  width: 80%;
}
.content article.post-block figure table {
  width: 90%;
}
.content article.post-block img {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
.content article.post-block h1 {
  background-color: #333;
  color: white;
  font-weight: 800;
  font-size: 2rem;
  margin: 0.5rem 0;
  padding-left: 1rem;
}
.content article.post-block h2 {
  color: #3C3C3C;
  font-weight: 700;
  font-size: 1.6rem;
  border-bottom: 3px solid #3C3C3C;
  display: flex;
  align-items: center;
}
.content article.post-block h2::before {
  content: "";
  border-width: 0.6rem 0 0.6rem 0.8rem;
  border-color: transparent transparent transparent #3C3C3C;
  border-style: solid;
  margin-right: 0.5rem;
}
.content article.post-block h3 {
  color: #3C3C3C;
  font-weight: 600;
  font-size: 1.3rem;
  border-bottom: 1px dashed #3C3C3C;
}
.content article.post-block h4, .content article.post-block h5, .content article.post-block h6 {
  color: #3C3C3C;
  font-weight: 500;
  font-size: 1.1rem;
  border-bottom: 1px dotted #3C3C3C;
}
.content article.post-block p {
  text-indent: 2rem;
}
.content article.post-block a {
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
  text-decoration: none;
}
.content article.post-block a:hover {
  background-color: #bbeffd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.content article.post-block blockquote {
  font-weight: 300;
  font-size: 1.125rem;
  color: #858585;
  line-height: 2;
}
.content aside.toc {
  flex: 1;
  background-color: #f7f7f7;
  color: #1a1a1a;
  padding: 0;
  overflow: auto;
}
.content aside.toc ol {
  list-style-type: none;
  padding-left: 1.3rem;
}
.content aside.toc li a {
  text-decoration: none;
}
.content aside.toc ol {
  margin: 0;
}

.post-list {
  width: 60%;
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
}
.post-list .post-list-item {
  list-style-type: none;
}
.post-list .post-list-item .post-list-item-title a {
  text-decoration: none;
  color: #1a1a1a;
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post-list .post-list-item .post-list-item-title a:hover {
  background-color: #bbeffd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.post-list .post-list-item .post-list-item-date {
  font-weight: 300;
  font-size: 0.8rem;
  color: #3C3C3C;
}

.archive {
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
}
.archive .post-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.archive .post-item .post-info {
  flex: 1;
  font-weight: 300;
  font-size: 0.8rem;
  color: #858585;
  line-height: 2;
}
.archive .post-item a.post-title-link {
  flex: 2;
  text-decoration: none;
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  font-weight: 700;
  font-size: 1.2rem;
}
.archive .post-item a.post-title-link:hover {
  background-color: #bbeffd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}
footer .paginator {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
footer .paginator a {
  padding: 10px;
  text-decoration: none;
  color: #1a1a1a;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(187, 239, 253, 0.3);
}
footer .paginator a.prev {
  margin-right: 20px;
}
footer .paginator a.next {
  margin-left: 20px;
}
footer .paginator a:hover {
  background-color: #bbeffd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
footer .copyright {
  background-color: #20232a;
  color: white;
  padding: 10px 0;
}
