html {
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #20232a;
  color: white;
  left: 0;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar a.logo {
  flex: 1;
  display: flex;
  color: #61dafb;
  text-decoration: none;
}
.navbar a.logo img {
  height: 20px;
  flex: 1;
}
.navbar a.logo .author {
  font-weight: 700;
  flex: 2;
}
.navbar nav {
  flex: 7;
  display: flex;
  background-color: transparent;
  text-align: center;
}
.navbar nav a.nav-link {
  flex: 1;
  text-decoration: none;
}
.navbar nav a.nav-link:link {
  color: #ccc;
}
.navbar nav a.nav-link:visited {
  color: #ccc;
}
.navbar nav a.nav-link:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar nav a.nav-link:hover {
  background-color: #eb5151;
}
.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.content article.post-block {
  flex: 2;
  width: 60%;
  max-width: 900px;
}
.content article.post-block .post-info {
  font-weight: 200;
  font-size: 1rem;
  color: #858585;
}
.content article.post-block h1 {
  background-color: #333;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  margin: 0.5rem 0;
  text-indent: 1rem;
}
.content article.post-block h2 {
  background-color: #333;
  color: white;
  text-indent: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  padding-right: 0.3em;
  margin: 0.3rem 10rem 0.3rem 0.3rem;
}
.content article.post-block h3 {
  background-color: #333;
  color: white;
  text-indent: 2rem;
  font-weight: 300;
  font-size: 1.3rem;
  padding-right: 0.3em;
  margin: 0.1rem 10rem 0.1rem 0.5rem;
}
.content article.post-block h4, .content article.post-block h5, .content article.post-block h6 {
  background-color: #333;
  color: white;
  text-indent: 2rem;
  font-weight: 200;
  font-size: 1.1rem;
  padding-right: 0.3em;
  margin: 0.1rem 10rem 0.1rem 0.7rem;
}
.content article.post-block a {
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
  text-decoration: none;
}
.content article.post-block a:hover {
  background-color: #bbeffd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.content article.post-block blockquote {
  font-weight: 300;
  font-size: 1.125rem;
  color: #858585;
  line-height: 2;
}
.content aside.toc {
  flex: 1;
  background-color: #f7f7f7;
  color: #1a1a1a;
  list-style-type: none;
}
.content aside.toc li a {
  text-decoration: none;
}
.content aside.toc ol {
  margin: 0;
}

.post-list {
  width: 60%;
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
}
.post-list .post-list-item {
  list-style-type: none;
}
.post-list .post-list-item .post-list-item-title a {
  text-decoration: none;
  color: #1a1a1a;
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post-list .post-list-item .post-list-item-title a:hover {
  background-color: #bbeffd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.post-list .post-list-item .post-list-item-date {
  font-weight: 300;
  font-size: 0.8rem;
  color: #858585;
}

.archive {
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
}
.archive .post-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.archive .post-item .post-info {
  flex: 1;
  font-weight: 300;
  font-size: 0.8rem;
  color: #858585;
  line-height: 2;
}
.archive .post-item a.post-title-link {
  flex: 2;
  text-decoration: none;
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  font-weight: 700;
  font-size: 1.2rem;
}
.archive .post-item a.post-title-link:hover {
  background-color: #bbeffd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}
footer .paginator {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
footer .paginator a {
  padding: 10px;
  text-decoration: none;
  color: #1a1a1a;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(187, 239, 253, 0.3);
}
footer .paginator a.prev {
  margin-right: 20px;
}
footer .paginator a.next {
  margin-left: 20px;
}
footer .paginator a:hover {
  background-color: #bbeffd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
footer .copyright {
  background-color: #20232a;
  color: white;
  padding: 10px 0;
}
