header {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $color-black;
  color: white;
  left: 0;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  a.logo {
    flex: 1;
    display: flex;
    color: $primary-color;
    text-decoration: none;
    border: 0;

    img {
      height: 2.2rem;
      flex: 1;
    }

    .author {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      flex: 3;
    }
  }

  nav {
    flex: 7;
    display: flex;
    height: 100%;
    background-color: transparent; 

    a.nav-link {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      border: 0;
    }

    a.nav-link:link {
      color: white;
    }

    a.nav-link:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.2);
    }

    a.nav-link:hover {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
    }

    a.nav-link:active {

    }
  }
}