div.navbar
	a.logo(href="/")
		if theme.logo
			img(src=theme.logo alt="make sure _config.yml's logo avalidable")
		span.author!= config.author
	nav
		each value, key in theme.menu
			a.nav-link(href=url_for(value))
				!= key